/* Dashboard.css */

.dashboard {
    text-align: center;
    padding: 20px;
}


.animated-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between cards */
}

.card5{
    background: #ffeb3b; /* Bright yellow for kids */
    border: 2px solid #fbc02d; /* Slightly darker yellow border */
    border-radius: 10px;
    padding: 15px; /* Reduced padding */
    height: 200px; /* Set a fixed height for cards */
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content */
}

.card5:hover {
    transform: scale(1.05); 
    background: #ffd54f; 
}

.card-icon {
    font-size: 3rem; /* Size of emoji */
    margin-top: 10px; /* Space above emoji */
}

.card-content {
    font-size: large;
    flex-grow: 1;
}

.card-content h3 {
    color: #f57c00; /* Orange color for the title */
}

.card-content p {
    color: #424242; /* Dark gray for the description */
}
