@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.login-container {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 24rem;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.gradient-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to right, #FCD34D, #34D399, #60A5FA);
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: #10B981;
  margin-bottom: 1.5rem;
  animation: bounce 1s infinite;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
  animation: wiggle 1s ease-in-out infinite;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border-bottom: 2px solid #D1D5DB;
  border-top: 2px solid #ffff;
  border-inline: 2px solid #ffff;
  color: #111827;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #10B981;
}

.input::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  top: -0.875rem;
  font-size: 0.75rem;
  color: #374151;
}

.password-toggle {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none; /* Ensure there's no border */
    cursor: pointer;
    outline: none;
    padding: 0; /* Remove any padding */
  }
  
  .icon {
    width: 1.25rem;
    height: 1.25rem;
    color: #9CA3AF;
    display: block;
    background: none; /* Remove any background */
  }
  .password-toggle:focus, .password-toggle:focus-visible {
    outline: none; /* Disable the outline */
}  

.error {
  display: flex;
  align-items: center;
  color: #EF4444;
  font-size: 0.875rem;
}

.error-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.submit-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #10B981;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #059669;
  transform: scale(1.05);
}

.toggle-mode {
  margin-top: 1.5rem;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  color: #10B981;
  font-size: 0.875rem;
  cursor: pointer;
  transition: color 0.3s ease;
  outline: none;

}

.toggle-button:hover {
  color: #059669;
}

.forgot-password {
  margin-top: 0.5rem;
  text-align: center;
}

.forgot-password-link {
  color: #10B981;
  font-size: 0.875rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: #059669;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}